<h2>Админка</h2>
<a href="/logout">Выход</a>

<h3>Пользователи</h3>
<ul>
    {% for user in users %}
        <li>{{ user[1] }} ({{ 'админ' if user[2] else 'пользователь' }})</li>
    {% endfor %}
</ul>

<h3>Задачи всех пользователей</h3>
<table border="1">
    <tr><th>ID</th><th>Задача</th><th>Пользователь</th><th>Время</th></tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task[0] }}</td>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] // 60 }} мин</td>
        </tr>
    {% endfor %}
</table>