<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task Tracker{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"  rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('tasks') }}">Task Tracker</a>
        <div class="ms-auto">
            {% if current_user.is_authenticated %}
                <span class="text-white me-3">Залогинен как: {{ current_user.username }}</span> <!-- Отображаем имя пользователя -->
                <a href="{{ url_for('create_task') }}" class="btn btn-primary me-2 btn-custom-size">Создать задачу</a> <!-- Кнопка "Создать задачу" -->
                <a href="{{ url_for('logout') }}" class="btn btn-danger btn-custom-size">Выход</a> <!-- Кнопка "Выход" -->
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-sm me-2">Войти</a>
                <a href="{{ url_for('register') }}" class="btn btn-secondary btn-sm">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Основной контент -->
<div class="container my-4 flex-grow-1">
    {% block content %}{% endblock %}
</div>

<!-- Подвал -->
<footer class="bg-dark text-white text-center py-3 mt-auto">
    &copy; 2025 Task Tracker | Powered by Flask
</footer>

</body>
</html>